<h1>Edit Kitten</h1>
<%= render "form", kitten: @kitten %>
<hr>
<%= link_to "Show", @kitten %> | 
<%= link_to "Delete Kitten", kitten_path(@kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
<%= link_to "Back", kittens_path %>